<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Founded in New Zealand - The most innovative startups in New Zealand</title>
		<meta name="description" content="New Zealand has a thriving entrepreneurial. We list innovative startups with Kiwi roots." />
		
        <meta property="og:title" content="Founded in New Zealand - The most innovative startups in New Zealand" />
		<meta property="og:description" content="New Zealand has a thriving entrepreneurial scene. We list innovative startups with Kiwi roots." />
		<meta property="og:site_name" content="Founded in New Zealand" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://founded.nz/" />
		<meta property="og:image" content="http://founded.nz/images/avatar.png" />
        <meta property="og:fb:admins" content="740728879302445" />
        
        <meta name="twitter:site" content="@foundedholland" />
        <meta name="twitter:title" content="Founded in New Zealand - The most innovative startups in New Zealand" />
		
        <meta name="author" content="Weekly" />
		<link rel="shortcut icon" href="images/favicon.ico" />
        <link rel="apple-touch-icon-precomposed" href="http://founded.nz/images/avatar.png" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
        	<a href="http://founded.nz" class="no-link header-logo">
        		<img src="images/logo-with-text-light.png" alt="Logo">
        	</a>
			
             
			<header class="clearfix">
            	{{content}}
            </header>

            <div class="join-box">
            	<a name="join" class="no-link"></a>
                <p><strong>What do all these companies have in common?</strong></p>
            	<ol class="requirements">
                	<li>1) They were founded in New Zealand in the 21st century</li>
                	<li>2) They have the ambition to transform their industry</li>
                	<li>3) The founders have never clubbed a baby seal</li>
                </ol>

                <p>Does your startup meet these criteria and do you want to support this initiative?</p>
                <p><strong>Submit your Kiwi startup by filling out the <a class="typeform-share link" href="https://weekly.typeform.com/to/HHO2Uc" data-mode="2" target="_blank">application form</a>.</strong></p>

                <p><a class="typeform-share link join-button" href="https://weekly.typeform.com/to/HHO2Uc" data-mode="2" target="_blank">Join the list</a></p>
<!--                 
                <span>Follow on 
                	<a href="https://www.facebook.com/foundedinholland" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a>
                	 &amp; 
                	<a href="https://twitter.com/foundedholland" target="_blank"><i class="fa fa-twitter-square"></i> Twitter</a>  

            	&middot;  <a href="https://drive.google.com/folderview?id=0B7rp4qZAI1DoN3haMk0zTHA4aTg&usp=sharing" target="_blank">Press kit</a>  
            	&middot;  <a href="mailto:join@founded.nz" target="_blank">Contact</a></span>
                
                <div align="center" style="width:170px; margin:0 auto;">
                	<div class="fb-like" data-href="http://founded.nz/" data-layout="button" data-action="like" data-show-faces="false" data-share="true" style="margin-bottom:-20px; padding:5px;"></div>
                    <div style="padding:5px;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://founded.nz/" data-via="foundedholland" data-count="none" data-dnt="true">Tweet</a></div>
                </div> -->
                
            </div>
            <footer>
            	<span>Brought to you by <a href="http://cloudcannon.com" target="_blank">CloudCannon</a>. All the logos and trademarks used on this website belong to its rightful owner.</span>
                <a href="http://foundedx.com" class="no-link" target="_blank"><img src="images/foundedx-badge.png" alt="Part of Founded X"></a>
            </footer>
		</div>      

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
	<!-- Typeform -->
	<script>
		(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
    </script>

	<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-52502471-2', 'auto');
      ga('send', 'pageview');
    
    </script>
	
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
            
	</body>
</html>